body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff;
    width: 70%;
    margin: 0 auto;
}

.navbar {
    overflow: hidden;
    background-color: #f1f1f1;
}

.navbar-conteiner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.navbar-logo {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: #000;
}

.navbar-links {
    display: flex;
    align-items: center;
}

.navbar-links a {
    text-decoration: none;
    color: #000;
    padding: 10px 15px;
} 

.navbar-links a:hover {
    background-color: #f2f2f2f2;
    border-radius: 20px;
    transition: background-color 0.4s;
}

.navbar-signup-btn {
    background-color: #000;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
}

.navbar-links a.navbar-signup-btn {
    color: #fff;
}

.navbar-links a .navbar-signup-btn {
    color: #000;
}

.banner {
    background-image: url("./Imagens do Jogo/Troninho (1).webp");
    background-size: cover;
    background-position: center;
    padding: 50px 0;
    color: #fff;
    border-radius: 30px;
    height: 480px;
    overflow: hidden
    /* overflow: hidden; */
}

.banner-container {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin: 100px auto;
    padding: 0 15px;
}

.banner h1 {
    font-size: 35px;
    margin-bottom: 5px;
}

.banner-subtitle {
    font-size: 20px;
}

.banner p {
    margin-bottom: 15px;
}

.banner-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #f2f2f2f2;
    color: #000;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0,3s;
}

.banner-btn:hover {
    background-color: #444;
    color: #fff;

}

* { margin: 0; padding: 0; }
.slider {
    display: block;
    height: 293px;
    width: 600px;
    margin: auto;
    margin-top: 20px;
    position: relative;
}

.slider li {
    list-style: none;
    position: absolute;
}

.slider img {
    margin: auto;
    height: 100%;
    width: 100%;
    vertical-align: top;
}

.slider input {
    display: none;
}

.slider label {
    background-color: #000;
    bottom: 10px;
    cursor: pointer;
    display: block;
    height: 10px;
    position: absolute;
    width: 10px;
    z-index: 10;
}

.slider li:nth-child(1) label {
    left: 10px;
}

.slider li:nth-child(2) label {
    left: 40px;
}

.slider li:nth-child(3) label {
    left: 70px;
}

.slider img {
    opacity: 0;
    visibility: hidden;
}

.slider li input:checked ~ img {
    opacity: 1;
    visibility: visible;
    z-index: 10;
}